<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Todoリストで予定を管理しよう！</h1>
      <%= link_to '今すぐ新規登録!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>

