<div class="row">
  <div class="col-6">
    <%= form_with(model: tag, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
    
      <div class= "form-group">
        <%= f.text_field :title, class: 'form-control' %> 
      </div>
  
      <%= f.submit 'カテゴリを登録',class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>